@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", serif;
    background-color: #e2e2e2;
}

.container{
    width: 940px;
    margin: 50px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(110, 110, 110, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description{
    margin-right: 50px;
}

.description h1{
    margin: 50px 0px 10px 0px;
    font-weight: 300;
}

.description p{
    font-size: 15px;
}

.description span{
    margin-top: 15px;
    display: block;
    font-weight: 600;
    font-size: 30px;
}

.description button {
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 40px;
    cursor: pointer;
    border: 0px;
    outline: none;
    color: #fff;
    box-shadow: 2px 4px 6px rgba(110, 110, 110, 0.2); 
}

.description .buy{
    background-color: #ff9f00;
}
.description .cart{
    background-color: #fb641b;
    margin-left: 10px;
}

.xzoom-thumbs img{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
}
.xzoom-preview{
    border: 1px solid #e0e0e0;
    box-shadow: 4px 4px 6px rgba(110, 110, 110, 0.3 );
}

.active{
    border: 6px solid #4aaad2;
    box-shadow: 0 0 3px 0 #4aaad2;
}